<ion-content>
  <div class="content">
    <form [formGroup]="loginForm" (ngSubmit)="login()">

      <ion-row class="row-avatar">
        <ion-avatar>
          <img src="/assets/images/logo.jpg">
        </ion-avatar>
      </ion-row>

      <ion-row class="row-form">
        <ion-col class="col-form" align-self-center size-md="6" size-lg="6" size-xs="12">

          <ion-item lines="inset">
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-input placeholder="Email" type="email" formControlName="email" required></ion-input>
          </ion-item>
          <span class="error ion-padding" *ngIf="isSubmitted && controls.email.errors?.required">
            El email es obligatorio.
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && controls.email.errors?.email">
            El email no es válido.
          </span>

          <ion-item lines="inset">
            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
            <ion-input placeholder="Contraseña" type="password" formControlName="password" required minlength="5"></ion-input>
          </ion-item>
          <span class="error ion-padding" *ngIf="isSubmitted && controls.password.errors?.required">
            La contraseña es obligatoria.
          </span>
          <span class="error ion-padding" *ngIf="isSubmitted && controls.password.errors?.minlength">
            La contraseña tiene que tener al menos 5 caracteres.
          </span>

          <ion-item>
            <ion-label>Recordar</ion-label>
            <ion-toggle color="primary" slot="end"></ion-toggle>
          </ion-item>

          <ion-button type="submit" expand="full" color="primary">Acceder</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>